/* =========================GERAL========================================= */

*{
}

body{
    width: 100%;
    line-height: 1;
    min-height: 100vh;
    box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

/* ========================CABEÇALHO======================================  */

header{
    background-color: black;
    display: flex;
    justify-content: end;
    padding: 1%;
}

#caixa-guias{
    width: 30%;
    display: flex;
    justify-content: space-between;
    margin-right: 5%;
}
.guias{
    color: white;
}

.guias:hover,
.guias:focus{
    text-decoration: underline;
}

.guias:active{
    color: gray;
}

a{
    text-decoration: none;
}

/* ====================CONTEÚDO PRINCIPAL================================= */
#tit_col{
    color: white;
    margin-left: 2%;
}

main{
    display: flex;
    justify-content: center;
    background: linear-gradient(black, rgba(0, 0, 0, 0.882), rgb(0, 0, 0));
}

#principal{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

#coluna{
    width: 100%;
    height: 7vh;
    background-color: rgb(167, 21, 21);
    display: flex;
    align-items: center;
}

.capa{
    width: 100%;
    height: 48vh;
    border-radius: 10px;
}

h1{
    color: white;
}

h3{
    color: rgb(198, 198, 198);
}

#titulo-secundario{
    width: 100%;
    color: white;
}

.funções{
    list-style-type: disc;
    margin-left: 2%;
    color: rgb(198, 198, 198);
    font-size: large;
    line-height: 1cm;
}

#periodo{
    margin-bottom: 15vh;
}